
<div class="tabla-container">
  <table>
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Corte 1</th>
        <th>Corte 2</th>
        <th>Corte 3</th>
        <th>Eliminar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      @for(cal of calificaciones(); track cal.matricula; let i = $index) {
        <tr
          app-calificacion
          [calificacion]="cal"
          (seleccionarFila)="seleccionar(cal)"
          (eliminarFila)="eliminar(i)">
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="form-container">
<h2>Captura de calificaciones</h2>

<form [formGroup]="formularioCalificaciones" class="form-container">
  
  <div>
    <label>Matricula:</label>
    <input type="text" formControlName="matricula">
    @if(this.formularioCalificaciones.get('matricula')?.errors?.['required']){
       <span style="color: red;">(la matricula no puede quedar vacio)</span>
    }
  </div>

  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre">
     @if(this.formularioCalificaciones.get('nombre')?.errors?.['required']){
       <span style="color: red;">(el nombre no puede quedar vacio)</span>
    }
  </div>

  <div>
    <label>Corte 1:</label>
    <input type="number" formControlName="corte1">
    @if(formularioCalificaciones.get('corte1')?.errors?.['min']) {
    <span style="color:red;">La calificacion no puede ser menor que 0</span>
  }

  @if(formularioCalificaciones.get('corte1')?.errors?.['max']) {
    <span style="color:red;">La calificacion no puede ser mayor que 10</span>
  }
  </div>

  <div>
    <label>Corte 2:</label>
    <input type="number" formControlName="corte2">
    @if(formularioCalificaciones.get('corte2')?.errors?.['min']) {
    <span style="color:red;">La calificacion no puede ser menor que 0</span>
  }

  @if(formularioCalificaciones.get('corte2')?.errors?.['max']) {
    <span style="color:red;">La calificacion no puede ser mayor que 10</span>
  }
  </div>

  <div>
    <label>Corte 3:</label>
    <input type="number" formControlName="corte3">
    @if(formularioCalificaciones.get('corte3')?.errors?.['min']) {
    <span style="color:red;">La calificacion no puede ser menor que 0</span>
  }

  @if(formularioCalificaciones.get('corte3')?.errors?.['max']) {
    <span style="color:red;">La calificacion no puede ser mayor que 10</span>
  }
  </div>

  <div class="botones">
    <button type="button" (click)="nuevo()">Nuevo</button>
    <button type="button" (click)="guardar()">Guardar</button>
  </div>

</form>
</div>