
button {
  padding: 4px 8px;
  cursor: pointer;
}

.tabla-container {
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;       
  justify-content: center; 
  align-items: center;     
  width: 100%;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  background-color: #ffffff;
}

th, td, tr {
  border: 3px solid black;   
  padding: 8px 14px;
  text-align: center;
}

th {
  background-color: #e6e6e6;
  font-weight: bold;
}